@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* my colors code */
/* colors variables */
:root{
    --bl: #2500E0;
    --bl-light: #4A53E1;

    --rd: #E31E33;
    --rd-light: #FF6171;
}


.bg-bl{ background: var(--bl); }
.bg-bl-light{ background: var(--bl-light); }

.bg-rd{ background: var(--rd) !important;}
.bg-rd-light{ background: var(--rd-light) !important; }


.text-rd {  color: var(--rd) !important; }
.text-bl {  color: var(--bl) !important; }
.text-bl-light {  color: var(--bl-light) !important; }
.text-rd-light {  color: var(--rd-light) !important; }

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: var(--rd) !important;
}

#portfolio .hover_bl{ background: var(--bl) !important; }
#portfolio .hover_rd{ color: var(--rd); }
.hover_rd-light{ background: var(--rd-light); }
.hover_bl-light{ background: var(--bl-light); }

#navli li a{ color: var(--rd); }


.top_header{
    background: black;
    border-bottom: 5px solid var(--rd);
    
}

.top_header h1{
    color: white;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 32px;

}
.nav_color ul li a { color: black !important;  }
.nav_color ul li a:hover { color: var(--rd) !important;  }
#mainNav{ background: rgba(7, 7, 214, 0.13) }

.table_font{
    font-size: 13px;
    font-weight: 400;
}
.t_heading_bg{
    background: #8a77ef82;
}
